<p id="notice"><%= notice %></p>

<h1>Listing Farm Store Pricings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @farm_store_pricings.each do |farm_store_pricing| %>
      <tr>
        <td><%= farm_store_pricing.name %></td>
        <td><%= farm_store_pricing.price %></td>
        <td><%= farm_store_pricing.quantity %></td>
        <td><%= link_to 'Show', farm_store_pricing %></td>
        <td><%= link_to 'Edit', edit_farm_store_pricing_path(farm_store_pricing) %></td>
        <td><%= link_to 'Destroy', farm_store_pricing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Farm store pricing', new_farm_store_pricing_path %>
