<%= form_for(@farm_store_profile) do |f| %>
  <% if @farm_store_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@farm_store_profile.errors.count, "error") %> prohibited this farm_store_profile from being saved:</h2>

      <ul>
      <% @farm_store_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :standard_tax_rate %><br>
    <%= f.text_field :standard_tax_rate %>
  </div>
  <div class="field">
    <%= f.label :has_farm_store_profile_id %><br>
    <%= f.number_field :has_farm_store_profile_id %>
  </div>
  <div class="field">
    <%= f.label :has_farm_store_profile_type %><br>
    <%= f.text_field :has_farm_store_profile_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
