<p id="notice"><%= notice %></p>

<h1>Listing Farm Store Departments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @farm_store_departments.each do |farm_store_department| %>
      <tr>
        <td><%= farm_store_department.name %></td>
        <td><%= farm_store_department.description %></td>
        <td><%= link_to 'Show', farm_store_department %></td>
        <td><%= link_to 'Edit', edit_farm_store_department_path(farm_store_department) %></td>
        <td><%= link_to 'Destroy', farm_store_department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Farm store department', new_farm_store_department_path %>
